Repository Lidiajim/montaito-hub, pull requests merged in 2024-12, with the labels that each got.

#41 Test/#39 unit tests for auth
  app/modules/auth/tests/test_unit.py
Labels: test, M3

#44 Test/#42 unit tests for dashboard
  app/modules/dashboard/tests/test_unit.py
Labels: test, M3

#59 test: Add unit tests for profile update and retrieval
  app/modules/profile/tests/test_unit.py
Labels: test, low, 2, M3

#58 test: Add GitHub Actions workflow for running tests
  .github/workflows/run-tests.yml
Labels: test, medium, 2, M3

#57 config: Add GitHub Actions workflow
  .github/workflows/validate-commits.yml
Labels: medium, 2, M3, config

#56 config: Add git commit policy script.
  scripts/git_commit_policy.sh
Labels: medium, 2, M3, config

#60 config: Add GitHub Actions lint workflow
  .github/lint.yml
Labels: medium, 2, M3, config

#62 Test/#34 add more unit tests ai
  app/modules/ai/tests/test_unit.py
Labels: test, low, 2, M3

#63 test:add more tests units for fakenodo
  app/modules/fakenodo/forms.py
  app/modules/fakenodo/models.py
  app/modules/fakenodo/repositories.py
  app/modules/fakenodo/routes.py
  app/modules/fakenodo/seeders.py
  app/modules/fakenodo/services.py
  app/modules/fakenodo/tests/test_selenium.py
  app/modules/fakenodo/tests/test_unit.py
Labels: test, low, 2, M3

#69 fix: Fixed bug with bot token
  .github/workflows/render.yml
  .github/workflows/run-tests.yml
  .github/workflows/validate-commits.yml
  app/__init__.py
Labels: 3, M3, config

#74 Test/#50 unit tests fakenodo
  app/modules/fakenodo/assets/scripts.js
  app/modules/fakenodo/forms.py
  app/modules/fakenodo/models.py
  app/modules/fakenodo/repositories.py
  app/modules/fakenodo/routes.py
  app/modules/fakenodo/services.py
  app/modules/fakenodo/tests/locusfile.py
  app/modules/fakenodo/tests/test_unit.py
Labels: test, low, 2, M3
